:root {
    --blue: #001980;
    --orange: #F66129;
    --font_sm: 1rem;
    --font_lg: 1.4rem;
    
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.noLRMar{
    margin-right: 0 !important;
    margin-left: 0 !important;
   }

body{
    background: -webkit-linear-gradient(left, #F66129, var(--blue));
    
    
}
.emp-profile{
    padding: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 2rem;
    background: white;
    
}
.profile-img{
    text-align: center;
}
.profile-img img{
    width: 70%;
    height: 100%;
}
.profile-img .file {
    position: relative;
    overflow: hidden;
    margin-top: -20%;
    width: 70%;
    border: none;
    border-radius: 0;
    font-size: 15px;
    background: var(--blue);
}
.profile-img .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
}

@media (min-width: 320px) { 
    .profile-head h5,h6{        
        font-size: 1.8rem;
    }
    .profile-head h7{        
        font-size: 1.2rem;
    }
    .profile-head .nav-tabs .nav-link{
        font-size: 1.2rem;        
    }
    .profile-work p{
        font-size: var(--font_sm);        
    }
    .profile-work a{
        font-size: var(--font_sm);
    }
    .profile-tab label{
        font-size: var(--font_sm);        
    }
    .profile-tab p{
        font-size: var(--font_sm);
    }
    
    .profile-tab a{
        font-size: var(--font_sm);
    }
 }

 @media (min-width: 992px) { 
    .profile-head h5,h6{        
        font-size: 2rem;
    }
    .profile-head h7{        
        font-size: 1.5rem;
    }
    .profile-head .nav-tabs .nav-link{
        font-size: 1.6rem;        
    }
    .profile-work p{
        font-size: var(--font_lg);        
    }
    .profile-work a{
        font-size: var(--font_lg);
    }
    .profile-tab label{
        font-size: var(--font_lg);        
    }
    .profile-tab p{
        font-size: var(--font_lg);
    }
    
    .profile-tab a{
        font-size: var(--font_sm);
    }
  }

.profile-head h5,h6{
    color: var(--blue);
    /* font-size: 2.5rem; */
}
.profile-head h7{
    color: var(--orange); 
    /* font-size: 2rem; */
}
.profile-edit-btn{
    border: none;
    border-radius: 1.5rem;
    width: 70%;
    padding: 2%;
    font-weight: 600;
    color: #001980;
    cursor: pointer;
}
.proile-rating{
    font-size: 12px;
    color: var(--orange);
    margin-top: 5%;
}
.proile-rating span{
    color: var(--blue);
    font-size: 15px;
    font-weight: 600;
}
.profile-head .nav-tabs{
    margin-bottom:5%;
}
.profile-head .nav-tabs .nav-link{
    font-weight:600;
    color: var(--blue);
    /* font-size: 1.3rem; */
    border: none;
}
.profile-head .nav-tabs .nav-link.active{
    border: none;
    border-bottom:2px solid var(--orange);
}
.profile-work{
    padding: 14%;
    margin-top: -15%;
}
.profile-work p{
    /* font-size: 1.2rem; */
    color: var(--orange);
    font-weight: 600;
    margin-top: 10%;
}
.profile-work a{
    text-decoration: none;
    color: var(--blue);
    font-weight: 600;
    /* font-size: 1.2rem; */
}
.profile-work ul{
    list-style: none;
}


.profile-tab label{
    font-weight: 600;
    /* font-size: 1.2rem; */
    color: var(--blue);
}
.profile-tab p{
    font-weight: 600;
    /* font-size: 1..2rem; */
    color: var(--orange);
}

.profile-tab a{
    text-decoration: none;
    color: var(--blue);
    font-weight: 600;
    /* font-size: 1.2rem; */
}

.profile-tab a:hover{
    color: var(--orange);
    font-weight: 600;
    
}