.view_documents_section{

  width: auto;
  height: 600px;
  
  min-width: 360px;
  box-shadow: 5px 5px 5px rgb(250, 246, 246);
  border-radius: 10px;
  border: 1px black;
  padding: 8px;
  background-image: linear-gradient(to bottom, #ee8a2d 10%, #8d8a87 90%);
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 100px;
  color: aliceblue;
  font-weight: bold;

}

.show_documents{
    padding: 15px;
}


.tftable {font-size:12px;color:#fbfbfb;width:100%;border-width: 1px;border-color: #686767;border-collapse: collapse;}
.tftable th {font-size:12px;background-color:#171515;border-width: 1px;padding: 8px;border-style: solid;border-color: #686767;text-align:left;}
.tftable tr {background-color:#2f2f2f;}
.tftable td {font-size:12px;border-width: 1px;padding: 8px;border-style: solid;border-color: #686767;}
.tftable tr:hover {background-color:#171515;}
